{% extends 'base.html' %}
{% block body %}
{% load static %}


<div class="container">
  <h3>Password Reset</h3>
  <form action="/" id="myForm">
    <div class="form-group col-lg-5">

   
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"  value={{email}} disabled>
 
  <label for="password">password:</label>
      <input type="password" class="form-control" id="password" placeholder="Enter New Password" name="password" >
    </div>

    
  </form>


 &nbsp; &nbsp;  <button  class="btn btn-primary btn-sm" onclick=change() >Reset</button>

<script  src="{% static "js/signup.js" %}"></script>

{% endblock %}